---
import { Header } from "../components/header";
import { BottomNav } from "../components/bottom-nav";

const { frontmatter, url } = Astro.props;
---

<html>
  <head>
    <!-- <meta rel="canonical" href={new URL(url, Astro.site).pathname} /> -->
    <title>{(frontmatter && frontmatter.title) || "CC Ref"}</title>

    <meta charset="utf-8" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="CC Ref" />
    <meta name="application-name" content="CC Ref" />
    <meta name="description" content="" />
    <meta name="theme-color" content="#18181b" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0, viewport-fit=cover"
    />

    <style is:global>
      @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400");

      html {
        font-size: 87.5%;
      }

      body {
        font-family: "IBM Plex Sans", sans-serif;
        @apply min-h-screen select-none antialiased p-safe bg-zinc-900 text-zinc-50;

        -webkit-overflow-scrolling: touch;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
      }
    </style>
  </head>
  <body>
    <Header active={url || "/"} />
    <main class="mx-auto max-w-screen-md pt-20 pb-16 px-safe sm:pb-0">
      <slot />
    </main>
    <BottomNav active={url || "/"} />
  </body>
</html>
